<a href="https://colab.research.google.com/github/MartaSolarz/Data_science_theory/blob/main/02_pandas/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Wczytanie danych](#a2)
3. [Preprocessing](#a3)
4. [Konkatenacja danych](#a4)
5. [Metoda append()](#a5)

### <a name='a1'></a> Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a2'></a> Wczytanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 828 entries, 2022-08-22 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    828 non-null    float64
 1   High    828 non-null    float64
 2   Low     828 non-null    float64
 3   Close   828 non-null    float64
 4   Volume  828 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 38.8 KB

In [4]:
apple.head()

              Open    High       Low   Close    Volume
Date
2022-08-22  169.69  169.86  167.1350  167.57  69026809
2022-08-19  173.03  173.74  171.3101  171.52  70346295
2022-08-18  173.75  174.90  173.1200  174.15  62290075
2022-08-17  172.77  176.15  172.5700  174.55  79542037
2022-08-16  172.78  173.71  171.6618  173.03  56377050

### <a name='a3'></a> Preprocessing

In [5]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [6]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-08-22      169.69      169.86   167.1350       167.57      69026809
2022-08-19      173.03      173.74   171.3101       171.52      70346295
2022-08-18      173.75      174.90   173.1200       174.15      62290075
2022-08-17      172.77      176.15   172.5700       174.55      79542037
2022-08-16      172.78      173.71   171.6618       173.03      56377050

### <a name='a4'></a> Konkatenacja danych

In [7]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-08-24,38.119,38.192,37.6780,37.841,83348683,47.871,47.9500,47.0570,47.6225,103856440,47.1855,47.3155,46.5370,46.8445,25882160,NaN,NaN,NaN,NaN,NaN
2017-08-25,37.927,38.149,37.8410,37.980,107188975,47.800,47.8810,47.2050,47.2630,66369080,46.9605,47.0365,46.5050,46.5250,23691860,NaN,NaN,NaN,NaN,NaN
2017-08-28,38.046,38.489,37.9970,38.360,108158704,47.327,47.6500,47.1125,47.3010,51608020,46.5940,46.7425,46.3055,46.4065,20914220,NaN,NaN,NaN,NaN,NaN
2017-08-29,38.039,38.766,38.0140,38.713,123982977,47.000,47.8000,46.8165,47.7030,57435780,45.9975,46.9095,45.9655,46.7875,23167320,NaN,NaN,NaN,NaN,NaN
2017-08-30,38.916,38.938,38.6380,38.816,114577409,47.922,48.4705,47.8453,48.3795,57962960,46.7835,47.2930,46.7025,47.1815,22389400,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-16,172.780,173.710,171.6618,173.030,56377050,143.905,146.5700,142.0000,144.7800,59102859,121.5200,122.4300,120.6400,121.7000,19041230,32.08,32.725,31.33,32.38,28072342.0
2022-08-17,172.770,176.150,172.5700,174.550,79542037,142.690,143.3800,140.7800,142.1000,48149778,120.1200,121.2900,119.3800,119.5500,22846958,31.65,31.710,30.44,30.72,24239351.0
2022-08-18,173.750,174.900,173.1200,174.150,62290075,141.320,142.7700,140.3800,142.3000,37458737,119.4300,120.8200,118.7200,120.1700,17987660,30.56,30.620,29.86,30.15,20831615.0
2022-08-19,173.030,173.740,171.3101,171.520,70346295,140.470,141.1100,137.9142,138.2300,47792843,119.0600,119.1500,116.7600,117.2100,21809528,29.50,29.570,28.63,29.01,24180912.0
2022-08-22,169.690,169.860,167.1350,167.570,69026809,135.720,136.3200,132.8500,133.2200,50461504,115.2000,115.6300,113.8500,114.2400,21456648,28.34,28.805,27.87,28.00,20233070.0

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.0,8.930305e+01,4.671941e+01,3.484900e+01,4.580400e+01,7.020000e+01,1.330100e+02,1.821300e+02
apple_high,1257.0,9.035938e+01,4.732234e+01,3.526600e+01,4.613800e+01,7.161400e+01,1.341200e+02,1.824400e+02
apple_low,1257.0,8.831090e+01,4.613596e+01,3.436800e+01,4.544000e+01,6.990700e+01,1.318100e+02,1.786300e+02
apple_close,1257.0,8.938435e+01,4.675838e+01,3.441400e+01,4.583700e+01,7.117200e+01,1.327600e+02,1.815100e+02
apple_volume,1257.0,1.213250e+08,5.679693e+07,4.111250e+07,8.334868e+07,1.068323e+08,1.419746e+08,4.333866e+08
amazon_open,1257.0,1.160746e+02,3.932346e+01,4.700000e+01,8.619800e+01,1.000000e+02,1.583380e+02,1.872000e+02
amazon_high,1257.0,1.174202e+02,3.978860e+01,4.743150e+01,8.709450e+01,1.007340e+02,1.599380e+02,1.886540e+02
amazon_low,1257.0,1.145851e+02,3.879036e+01,4.658750e+01,8.501950e+01,9.910150e+01,1.562500e+02,1.848400e+02
amazon_close,1257.0,1.160184e+02,3.924634e+01,4.693000e+01,8.618950e+01,9.987950e+01,1.581000e+02,1.865700e+02
amazon_volume,1257.0,8.623540e+07,4.110496e+07,1.762674e+07,5.851188e+07,7.459956e+07,1.022881e+08,3.310520e+08
google_open,1257.0,8.227734e+01,3.179948e+01,4.599750e+01,5.661600e+01,6.741300e+01,1.122720e+02,1.512500e+02
google_high,1257.0,8.315757e+01,3.211233e+01,4.674250e+01,5.720700e+01,6.797150e+01,1.136980e+02,1.515470e+02
google_low,1257.0,8.139186e+01,3.141883e+01,4.596550e+01,5.587550e+01,6.685000e+01,1.112020e+02,1.488990e+02
google_close,1257.0,8.230016e+01,3.176129e+01,4.640650e+01,5.663100e+01,6.734350e+01,1.125110e+02,1.498380e+02
google_volume,1257.0,3.524890e+07,1.605328e+07,9.312760e+06,2.511014e+07,3.134322e+07,4.014388e+07,1.331771e+08
uber_open,828.0,3.851254e+01,9.818008e+00,1.596000e+01,3.140500e+01,3.664500e+01,4.533000e+01,6.325000e+01
uber_high,828.0,3.929219e+01,9.887040e+00,1.780000e+01,3.222875e+01,3.741000e+01,4.610125e+01,6.405000e+01
uber_low,828.0,3.763175e+01,9.684160e+00,1.371000e+01,3.071860e+01,3.594500e+01,4.432082e+01,6.080000e+01
uber_close,828.0,3.845739e+01,9.764423e+00,1.482000e+01,3.141000e+01,3.669000e+01,4.516500e+01,6.318000e+01
uber_volume,828.0,2.570605e+07,1.698635e+07,3.380003e+06,1.544066e+07,2.192225e+07,3.132735e+07,1.863225e+08

In [10]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,89.30,46.72,34.85,45.80,70.20,133.01,182.13
apple_high,1257.00,90.36,47.32,35.27,46.14,71.61,134.12,182.44
apple_low,1257.00,88.31,46.14,34.37,45.44,69.91,131.81,178.63
apple_close,1257.00,89.38,46.76,34.41,45.84,71.17,132.76,181.51
apple_volume,1257.00,121324985.62,56796932.83,41112502.00,83348683.00,106832320.00,141974643.00,433386623.00
amazon_open,1257.00,116.07,39.32,47.00,86.20,100.00,158.34,187.20
amazon_high,1257.00,117.42,39.79,47.43,87.09,100.73,159.94,188.65
amazon_low,1257.00,114.59,38.79,46.59,85.02,99.10,156.25,184.84
amazon_close,1257.00,116.02,39.25,46.93,86.19,99.88,158.10,186.57
amazon_volume,1257.00,86235395.72,41104961.29,17626740.00,58511880.00,74599560.00,102288060.00,331051960.00
google_open,1257.00,82.28,31.80,46.00,56.62,67.41,112.27,151.25
google_high,1257.00,83.16,32.11,46.74,57.21,67.97,113.70,151.55
google_low,1257.00,81.39,31.42,45.97,55.88,66.85,111.20,148.90
google_close,1257.00,82.30,31.76,46.41,56.63,67.34,112.51,149.84
google_volume,1257.00,35248897.04,16053280.84,9312760.00,25110140.00,31343220.00,40143880.00,133177100.00
uber_open,828.00,38.51,9.82,15.96,31.41,36.64,45.33,63.25
uber_high,828.00,39.29,9.89,17.80,32.23,37.41,46.10,64.05
uber_low,828.00,37.63,9.68,13.71,30.72,35.95,44.32,60.80
uber_close,828.00,38.46,9.76,14.82,31.41,36.69,45.17,63.18
uber_volume,828.00,25706051.12,16986354.20,3380003.00,15440656.25,21922250.00,31327351.25,186322536.00

In [11]:
df.corr()  # korelacja

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.30,0.88,0.89,0.88,0.88,-0.23,0.95,0.95,0.95,0.95,-0.09,0.19,0.20,0.19,0.19,0.12
apple_high,1.00,1.00,1.00,1.00,-0.29,0.88,0.88,0.88,0.88,-0.22,0.95,0.95,0.95,0.95,-0.09,0.19,0.19,0.19,0.19,0.13
apple_low,1.00,1.00,1.00,1.00,-0.31,0.88,0.89,0.88,0.88,-0.24,0.95,0.95,0.95,0.95,-0.10,0.20,0.20,0.20,0.20,0.12
apple_close,1.00,1.00,1.00,1.00,-0.30,0.88,0.88,0.88,0.88,-0.23,0.95,0.95,0.95,0.95,-0.09,0.19,0.20,0.19,0.19,0.12
apple_volume,-0.30,-0.29,-0.31,-0.30,1.00,-0.22,-0.22,-0.23,-0.23,0.57,-0.37,-0.37,-0.38,-0.37,0.50,-0.27,-0.26,-0.28,-0.27,0.24
amazon_open,0.88,0.88,0.88,0.88,-0.22,1.00,1.00,1.00,1.00,-0.18,0.83,0.83,0.83,0.83,-0.10,0.54,0.55,0.55,0.54,-0.06
amazon_high,0.89,0.88,0.89,0.88,-0.22,1.00,1.00,1.00,1.00,-0.17,0.84,0.84,0.84,0.84,-0.09,0.53,0.54,0.54,0.53,-0.05
amazon_low,0.88,0.88,0.88,0.88,-0.23,1.00,1.00,1.00,1.00,-0.19,0.83,0.83,0.83,0.83,-0.11,0.55,0.56,0.56,0.56,-0.07
amazon_close,0.88,0.88,0.88,0.88,-0.23,1.00,1.00,1.00,1.00,-0.18,0.83,0.83,0.84,0.84,-0.11,0.54,0.55,0.54,0.55,-0.06
amazon_volume,-0.23,-0.22,-0.24,-0.23,0.57,-0.18,-0.17,-0.19,-0.18,1.00,-0.26,-0.25,-0.27,-0.26,0.60,-0.22,-0.21,-0.23,-0.22,0.24
google_open,0.95,0.95,0.95,0.95,-0.37,0.83,0.84,0.83,0.83,-0.26,1.00,1.00,1.00,1.00,-0.13,0.26,0.26,0.26,0.26,0.10
google_high,0.95,0.95,0.95,0.95,-0.37,0.83,0.84,0.83,0.83,-0.25,1.00,1.00,1.00,1.00,-0.12,0.25,0.26,0.25,0.25,0.11
google_low,0.95,0.95,0.95,0.95,-0.38,0.83,0.84,0.83,0.84,-0.27,1.00,1.00,1.00,1.00,-0.14,0.27,0.27,0.27,0.26,0.09
google_close,0.95,0.95,0.95,0.95,-0.37,0.83,0.84,0.83,0.84,-0.26,1.00,1.00,1.00,1.00,-0.13,0.26,0.26,0.26,0.26,0.10
google_volume,-0.09,-0.09,-0.10,-0.09,0.50,-0.10,-0.09,-0.11,-0.11,0.60,-0.13,-0.12,-0.14,-0.13,1.00,-0.21,-0.19,-0.22,-0.21,0.26
uber_open,0.19,0.19,0.20,0.19,-0.27,0.54,0.53,0.55,0.54,-0.22,0.26,0.25,0.27,0.26,-0.21,1.00,1.00,1.00,0.99,-0.26
uber_high,0.20,0.19,0.20,0.20,-0.26,0.55,0.54,0.56,0.55,-0.21,0.26,0.26,0.27,0.26,-0.19,1.00,1.00,1.00,1.00,-0.24
uber_low,0.19,0.19,0.20,0.19,-0.28,0.55,0.54,0.56,0.54,-0.23,0.26,0.25,0.27,0.26,-0.22,1.00,1.00,1.00,1.00,-0.28
uber_close,0.19,0.19,0.20,0.19,-0.27,0.54,0.53,0.56,0.55,-0.22,0.26,0.25,0.26,0.26,-0.21,0.99,1.00,1.00,1.00,-0.26
uber_volume,0.12,0.13,0.12,0.12,0.24,-0.06,-0.05,-0.07,-0.06,0.24,0.10,0.11,0.09,0.10,0.26,-0.26,-0.24,-0.28,-0.26,1.00

In [12]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [13]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [14]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.88          0.95        0.19
amazon_close         0.88          1.00          0.84        0.55
google_close         0.95          0.84          1.00        0.26
uber_close           0.19          0.55          0.26        1.00

In [15]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [16]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.30,0.88,-0.23,0.95,-0.09,0.19,0.12
apple_volume,-0.30,1.00,-0.23,0.57,-0.37,0.50,-0.27,0.24
amazon_close,0.88,-0.23,1.00,-0.18,0.84,-0.11,0.55,-0.06
amazon_volume,-0.23,0.57,-0.18,1.00,-0.26,0.60,-0.22,0.24
google_close,0.95,-0.37,0.84,-0.26,1.00,-0.13,0.26,0.10
google_volume,-0.09,0.50,-0.11,0.60,-0.13,1.00,-0.21,0.26
uber_close,0.19,-0.27,0.55,-0.22,0.26,-0.21,1.00,-0.26
uber_volume,0.12,0.24,-0.06,0.24,0.10,0.26,-0.26,1.00

### <a name='a5'></a> Metoda append()

In [17]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-08-22      28.34      28.80     27.87       28.00     20233070
2022-08-19      29.50      29.57     28.63       29.01     24180912
2022-08-18      30.56      30.62     29.86       30.15     20831615
2022-08-17      31.65      31.71     30.44       30.72     24239351
2022-08-16      32.08      32.73     31.33       32.38     28072342

In [20]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022)]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612

In [22]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022)]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312

In [23]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
2022-06-23      21.63      22.44     21.39       22.37     27010545
2022-06-22      21.41      22.21     21.30       21.50     32353317
2022-06-21      22.00      22.46     21.69       21.76     35257652
2022-06-17      20.37      21.96     20.37       21.81     46728428
2022-06-16      21.04      21.40     20.16       20.47     55312350
2022-06-15      21.34      22.39     21.24       22.03     36073711
2022-06-14      21.72      21.95     20.89       21.09     43006334
2022-06-13      22.22      22.59     21.34       21.57     33130326
2022-06-10      24.80      24.97     23.65       23.72     29897398
2022-06-09      25.94      26.69     25.36       25.44     42149561
2022-06-08      25.70      26.55     25.30       25.83     31225314
2022-06-07      24.20      25.70     24.07       25.30     27453723
2022-06-06      24.86      25.43     24.28       24.73     29834677
2022-06-03      24.17      24.50     23.73       24.15     24283631
2022-06-02      23.07      24.83     22.94       24.74     30691100
2022-06-01      23.53      23.87     22.57       22.94     26383612
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
2022-07-22      24.33      24.81     23.09       23.30     20209442
2022-07-21      24.02      24.25     23.60       24.23     18425364
2022-07-20      22.89      24.22     22.80       24.12     27844618
2022-07-19      22.75      23.08     22.19       22.67     23148938
2022-07-18      22.17      23.20     22.11       22.58     30935860
2022-07-15      21.00      21.78     20.77       21.67     24503631
2022-07-14      21.25      21.46     20.59       20.65     31561675
2022-07-13      20.93      21.61     20.72       21.50     18994916
2022-07-12      21.28      21.78     20.98       21.57     17373535
2022-07-11      21.95      22.25     21.14       21.19     17562117
2022-07-08      22.43      22.96     21.83       22.34     20231300
2022-07-07      21.64      22.76     21.61       22.74     23121886
2022-07-06      21.50      22.08     21.32       21.50     32689429
2022-07-05      21.17      22.55     20.83       22.52     24515795
2022-07-01      20.70      21.37     20.43       21.34     20693312